<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewAirbnb</title>
</head>
<body>
    <h1>All listings</h1>
    <form method="GET"  action="/listings/new">
        <button >Create New Listing</button>
    </form>
    <ul>
        <% allListings.forEach(listing => { %>
            <li>
                <h2><a href="/listings/<%= listing.id %>"><%= listing.title %></h2>
                <p><%= listing.description %></p>
                <p>Price: $<%= listing.price %></p>
                <p>Location: <%= listing.location %></p>
                <p>Country: <%= listing.country %></p>
                <img src="<%= listing.image.url %>" alt="<%= listing.title %>">
            </li>
        <% }) %>
    </ul>
</body>
</html>